.circle {
  position: absolute;
  top: var(--top);
  left: var(--left);
  z-index: var(--z-index);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: var(--size);
  will-change: transform, opacity;
  }

.circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient);
  animation: rotate-gradient 5s linear infinite;
}

@keyframes rotate-gradient {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text {
  z-index: 1;
  display: flex;
  padding: 0 10px;
  color: var(--hover-color);
  font-weight: 400;
  font-size: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
  font-family: var(--main-font);
  text-align: center;
}


