.header {
  font-size: 3rem;
  font-weight: bold;
  color: gray; /* Изначальный цвет текста */
  background: linear-gradient(90deg, white, white 50%, gray 50%, gray);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: calc(-100% * var(--progress)) 0; /* Управляем позицией градиента */
  transition: background-position 0.1s linear; /* Плавное обновление */
}

@keyframes slide {

}