.header {
  position: absolute; 
	align-self: center;
	width: 60vw;
  height: 200px;
	color: var(--main-color);
  font-size: clamp(1.5rem, 1rem + 2.32vw, 3rem);
  font-family: var(--accent-font);
	text-align: center;
	text-transform: uppercase;
  
}

.folders {
	position: relative;
	margin-top: 300px;
}

.highlight {
  background: linear-gradient(90deg, var(--main-accent-color) 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 200% 100%;
}

.moove {
  animation: highlight-animation 1.5s forwards;
}

@keyframes highlight-animation {
  to {
    background-position: 0 0;
  }
}