.netcontainer {
	position: relative;

	height: 500px;
	margin-top: calc((100vw - 17px - 400px) / 1.1); 
	overflow: visible;
	display: flex;
	justify-content: center;
	border: 1px solid yellow;
}

.net {
	position: absolute;
	height: auto;
	width: calc(100vw - 17px);
	display: block;
	/* border: 1px solid orange; */
	
}


@media (width <=998px) {
  .container{
		margin-top: calc((100vw - 17px) / 1.1 + 396px); 
  }
}
