.container {
	position: relative;
	border: 1px solid yellow;
	height: 2000px;
	margin-top: 300px;
	overflow: visible;
	display: flex;
	justify-content: center;

}

.net {
	position: absolute;
	height: 100%;
	top: -500px;
	width: calc(100vw - 17px);
	display: block;
	border: 1px solid orange;
	
}
