.button {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 250px;
	padding: 20px;
	overflow: hidden;
	color: var(--main-color);
	font-weight: 600;
	font-size: 17px;
	font-family: var(--main-font);
	letter-spacing: 2px;
	text-transform: uppercase;
	background: none;
	border: 1px solid var(--main-color);
	border-radius: 65px;
	transition:
		transform 0.2s ease,
		color 0.3s ease;
	pointer-events: auto;
}

.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	z-index: -1;
	width: 250px;
	height: 100%;
	background: var(--gradient);
	border-radius: 65px;
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	pointer-events: none;
}

.button:hover::before {
	left: 0%;
	opacity: 1;
	pointer-events: none;
}

.button:hover {
	color: var(--hover-color);
	border: 1px solid var(--light-background-color);
}

.button:active {
	transform: scale(1.1);
}

.button > * {
	pointer-events: none; /* дети кнопки (текст) игнорируют события */
}