.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 3em;
  overflow: hidden;
  font-size: clamp(2.13rem, 1.21rem + 4.25vw, 4.88rem); 
}

.letter {
  height: 1em;
  font-weight: 700;
  font-size: 1em;
  font-family: var(--accent-font);
  text-transform: uppercase;
  will-change: opacity, transform;
}

.space {
  display: inline-block;
  width: 0.5em; 
}