.container {
	position: absolute;
	right: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 300px;
	padding: 10px;
	transition: opacity 0.3s, transform 0.3s;
}

.circle {
	position: relative;
	display: flex;
	width: 30px;
	height: 30px;
	border: 2px solid var(--main-color);
	border-radius: 100%;
}

.flashbox {
	position: absolute;
	top: 5px;
	left: -9px;
	display: flex;
	width: 220px;
	height: 300px;
}

.flash {
	position: absolute;
	z-index: 4;
	display: flex;
	width: 50px;
	height: 50px;
	background: radial-gradient(
		circle at center,
		var(--main-color),
		var(--main-accent-color) 50%,
		var(--light-background-color) 70%,
		transparent 150%
	);
	border-radius: 50%;
	box-shadow: 0 0 50px 20px var(--main-accent-color);
	filter: blur(5px);
}



.header {
	display: flex;
	color: var(--main-color);
	font: var(--main-font);
	font-weight: 700;
	font-size: clamp(0.87rem, 0.83rem + 0.19vw, 1rem);
	letter-spacing: 3px;
	text-transform: uppercase;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.label {
	padding: 10px;
	color: var(--main-color);
	font: var(--main-font);
	font-size: clamp(0.75rem, 0.71rem + 0.19vw, 0.87rem);	
	border: 1px solid var(--main-color);
	border-radius: 20px;
}
