.container {
	display: flex;
}

.svg {
	display: block;
}

.path {
	transition: stroke 0.3s ease;
}

.container:hover .path {
	stroke: var(--main-accent-color);
}

.headerContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: var(--hover-color);
	font-size: 60px;
	font-family: var(--accent-font);
}

.textContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: var(--light-background-color);
	font-weight: 700;
	font-size: 20px;
	font-family: var(--main-font);
	letter-spacing: 2px;
}

.animatedHeader {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
}

.animatedText {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s ease; 
}

@media (921px < width <=1061px) {
	.container:nth-child(1) {
		align-self: flex-start;
	}

	.container:nth-child(2) {
		align-self: flex-end;
	}

	.container:nth-child(3) {
		align-self: flex-start;
	}
}

@media (width <=921px) {
	.container {
		align-self: center;
	}
}
