.container {
	display: flex;
	justify-content: space-between;
	margin-top: 200px;
}

@media (width <=1061px) {
	.container {
		flex-direction: column;
	}
}

@media (width <=921px) {
	.container {
		gap: 20px;
	}
}