.intro {
  display: flex;
  flex-direction: column;
  padding: 34px 20px;
  gap: 30px;
}

.title {
  display: flex;
  font-family: var(--accent-font);
  font-size: clamp(2.1875rem, 0.9091rem + 6.392vw, 5rem);
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  z-index: 1;
}

.text {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: clamp(1.125rem, 1.0114rem + 0.5682vw, 1.375rem);
  font-weight: 600;
  letter-spacing: 0.1em;
  z-index: 1;
}

.gradient {
  position: absolute;
  top: 400px;
  left: -50px;
  height: 300px;
  width: 30vw;
  border: 1px solid pink;
  background: radial-gradient(circle at 10% 0%, var(--main-accent-color), var(--main-background-color), var(--main-color));
  background-size: 400% 150%;
  animation: gradient 10s ease infinite;
  transform: translate3d(0, 0, 0);
  filter: blur(50px);
  border-radius: 50%;
  z-index: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (width <=768px) {
  .intro {
    padding: 34px 10px;
    gap: 15px;
  }
  
} 


