.netcontainer {
	position: relative;
	top: -18vw;
	display: flex;
	justify-content: center;
	place-self: center flex-end;
	width: calc(100vw - var(--scrollbar-width) - 2px);
	max-width: 1000px;
	height: calc((100vw - var(--scrollbar-width) - 2px ) / 1.37);
	max-height: 729px;
	overflow: visible;
	border: 1px solid orange;
}

.net {
	position: absolute; 
	width: calc(100vw - var(--scrollbar-width) - 2px );
	aspect-ratio: 1710 / 1244;
}

.slips {
	position: absolute;
	top: 50vh;
	display: flex;
	width: calc(100vw - var(--scrollbar-width) - 2px);
	place-self: center flex-end;
	height: 300px;
	overflow: visible;
}

@media (width <=998px) {
	.container {
		margin-top: 700px;
	}
}