.container {
  display: flex;
  align-items: flex-start;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 100px;
}

.logo {
  display: flex;
  width: 50px;
  max-width: 50px;
}

.icon {
  display: flex;
  width: 30px;
}

.link {
  display: flex;
  width: 100%;
  color: var(--main-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:active {
  transform: scale(1.05);
  transition: transform 0.2s ease; 
} 

.link:hover {
  color: var(--hover-color);
} 

.link:focus {
  color: var(--hover-color);
} 

.telephone {
  display: flex;
  font-weight: 700;
  font-size: clamp(0.94rem, 0.79rem + 0.68vw, 1.38rem);  
  font-family: var(--main-font);
  white-space: nowrap;
}

@media (width <=768px) {
  .container {
    padding: 34px 0;
  }

  .menu {
    gap: 10px;
    padding: 10px;
  }

  .logo {
    width: 30px;
    margin: 5px 30px 5px 5px;
  }

  .icon {
    width: 20px;
  }
}

@media (width <=430px) {
  .container {
    place-self: center;
  }}
